<html>
    <head>
        <style>
            * {
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <div id="z" style="display: flex; flex-direction: column; height: 400px; background-color: yellow;"> 
            <div style="padding: 20px 20px;background-color: aliceblue; display: flex; justify-content: space-between;">
                <div style="display: flex; gap: 40px">
                    <div style="padding: 10px 20px; border: 1px solid grey; border-radius: 40px;">Home</div>
                    <div style="padding: 10px 20px; border: 1px solid grey; border-radius: 40px;">Contact</div>
                    <div style="padding: 10px 20px; border: 1px solid grey; border-radius: 40px">Address</div>
                </div>
                <div style="display: flex; align-items: center;">User</div>
            </div>
            <div style="flex-grow: 2; background-color: gray;">Content</div>
            <div style="flex-grow: 1;background-color: lightcoral;">Footer</div>
        </div>
    </body>
</html>