<html>

<head>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="outerBox">
        <div class="header">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
                <li><input placeholder="Search" /></li>
            </ul>
            <div class="user">
                <button>Ratnesh</button>
            </div>
        </div>
        <div class="main">
            <div class="sidenav">
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>JavaScript</li>
                    <li>Java</li>
                    <li>DSA</li>
                </ul>
            </div>
            <div class="content">Content</div>
        </div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>