body,
html {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #7bed9f;
}

.logo {
    width: 100px;
    height: 50px;
}

.services {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services>li {
    padding: 20px 30px;
    font-weight: 600;
}

.header-menu {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: 58px;
    display: none;
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    border-radius: 4px;
}

.menu-dropdown>li {
    padding: 10px 20px;
}

.header-menu:hover {
    .menu-dropdown {
        display: block;
    }
}


/* Arrival Page Styles */
.main-heading {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

#bus-status {
    display: none;
}

.bus_stop {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid gray;
    border-radius: 4px;
}

.service_container {
    display: flex;
    justify-content: space-between;
}

.time_container {
    display: flex;
    flex-direction: row;
}

.arrival_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}