/* Icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #7bed9f;
}

.logo {
    width: 100px;
    height: 50px;
}

.services {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.services>li {
    padding: 20px 30px;
    font-weight: 600;
}

.header-menu {
    position: relative;
}

.menu-dropdown {
    position: absolute;
    top: 58px;
    display: none;
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    border-radius: 4px;
}

.menu-dropdown>li {
    padding: 10px 20px;
}

.header-menu:hover {
    .menu-dropdown {
        display: block;
    }
}


/* Arrival Page Styles */
.main-heading {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

.content {
    background-color: #f6f3f4;
    padding: 50px;
}

#bus-status {
    display: none;
}

.bus_stop {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid gray;
    border-radius: 4px;
}

.service_container {
    display: flex;
    justify-content: space-between;
}

.time_container {
    display: flex;
    flex-direction: row;
}

.arrival_main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#busstop {
    display: flex;
    justify-content: center;
}

.busstop_card {
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    background-color: white;
}

.busstop_info {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px 16px 24px;
}

.busstop_bus_details {
    padding: 0 24px 24px 24px;
}

.busstop_info>.address {
    color: #4a5565;
    font-size: 20px;
    font-weight: 600;
}

.busstop_info>.fav {}

.busstop_bus_details>table {}